.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 2, 54);
    color: azure;
    padding: 20px;
}
.navbar-left .logo{
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-center .nav-links li {
    margin-right: 20px;
}
.navbar-center .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.navbar-right {
    display: flex;
    align-items: center;

}
.navbar-right .cart-icon, .navbar-right .user-icon {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}
.navbar-right .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 10px;
    position: absolute;
    top: -10px;
    right: -10px;

}